<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="div_Wrapper_Form">
  <form class="form_Form1">
    <div>
      <label class="label_email" for="email"> E-mail </label><br />
      <input class="input_email" type="text" formControlName="email" />
    </div>

    <div>
      <label class="label_password" for="password"> Password </label><br />
      <input class="input_password" type="text" formControlName="password" />
    </div>

    <button class="button_Login" type="submit">Login</button>
  </form>

  <button class="button_SignUp" type="submit" (click)="GoToSignUp()">
    Sign up
  </button>
</div>
