<meta name="viewport" content="width=device-width, initial-scale=1" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css
"
/>
<footer class="Wrapper_Footer">
  <div class="div_IconAndTitle">
    <img
      class="FooterIcon"
      src="./assets/icon.jpg"
      alt="Icon.jpg"
      height="33.75"
      width="70px"
    />
    <h2>EZCoaching</h2>
  </div>
  <div class="div_columns">
    <div class="div_Wrapper_SocialMediaIcons">
      <div class="div_SocialMedia_Title">
        <h3>Social media</h3>
      </div>
      <div class="div_SocialMedia_Column1">
        <div>
          <i class="fa-brands fa-youtube"></i>
          <span><a href="">YouTube</a></span>
        </div>

        <div>
          <i class="fa-brands fa-discord"></i>
          <span><a href="">Discord</a></span>
        </div>

        <div>
          <i class="fa-brands fa-twitter"></i>
          <span><a href="">Twitter</a></span>
        </div>
      </div>

      <div class="div_SocialMedia_Column2">
        <div>
          <i class="fa-brands fa-reddit"></i>
          <span><a href="">Reddit</a></span>
        </div>

        <div>
          <i class="fa-brands fa-github"></i>
          <span><a href="">GitHub</a></span>
        </div>

        <div>
          <i class="fa-brands fa-facebook"></i>
          <span><a href="">FaceBook</a></span>
        </div>

        <div>
          <i class="fa-brands fa-tumblr"></i>
          <span><a href="">Tumblr</a></span>
        </div>
      </div>
    </div>
    <div class="div_ContactUs">
      <div class="div_ContactUsTitle">
        <h3>Contact us</h3>
      </div>

      <div>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span>Email: pkg.thomsen@gmail.com</span>
      </div>

      <div>
        <i class="fa-brands fa-discord"></i>
        <span>Discord: Gilaric#7260</span>
      </div>

      <div>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <span>Phone number: 42282670</span>
      </div>
    </div>
    <div class="div_Information">
      <div class="div_InformationTitle">
        <h3>Information</h3>
      </div>

      <span><a href="">About us</a></span>

      <span><a href="">Terms of service</a></span>

      <span><a href="">Privacy Policty</a></span>
    </div>
  </div>
</footer>
