<meta name="viewport" content="width=device-width, initial-scale=1" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css
"
/>
<footer class="Wrapper_Footer">
  <div>
    <img
      src="./assets/icon.jpg"
      alt="Icon.jpg"
      height="75px"
      width="133.33px"
    />
    <h2>EZCoaching</h2>
  </div>
  <div>
    <h3>Social media</h3>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-discord"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-reddit"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-tumblr"></i>
  </div>
  <div>
    <h3>Contact us</h3>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <p>Email: pkg.thomsen@gmail.com</p>
    <i class="fa-brands fa-discord"></i>
    <p>Discord: Gilaric#7260</p>
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <p>Phone number: 42282670</p>
  </div>
  <div>
    <a href="">Issues</a>
    <a href="">GitHub</a>
  </div>
</footer>
