body {
  margin: 0;
}

p {
  margin: 0;
}

.Wrapper_Footer {
  height: 300px;
  background-color: white;
  width: 100%;
  border-top: 2px solid rgb(94, 94, 94);
}

.div_IconAndTitle {
  background-color: aqua;
  width: 100%;
  height: 20%;
  display: flex;
  flex-shrink: 1;
}

.FooterIcon {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: left;
  margin-left: 10px;
}

.div_columns {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
}

.div_Wrapper_SocialMediaIcons {
  background-color: green;

  height: 100%;
  width: 100%;
}

.div_SocialMedia_Title {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: orange;
}

.div_SocialMedia_Column1 {
  background-color: red;
}

.div_SocialMedia_Column2 {
  background-color: rgb(39, 142, 177);
}

.div_ContactUs {
  background-color: lightgreen;
}

.div_GitHubIssues {
  background-color: orange;
}
