<meta name="viewport" content="width=device-width, initial-scale=1" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css
"
/>
<footer class="Wrapper_Footer">
  <div class="div_IconAndTitle">
    <img
      class="FooterIcon"
      src="./assets/icon.jpg"
      alt="Icon.jpg"
      height="33.75"
      width="70px"
    />
    <h2>EZCoaching</h2>
  </div>
  <div class="div_columns">
    <div class="div_Wrapper_SocialMediaIcons">
      <div class="div_SocialMedia_Column1">
        <div class="div_SocialMedia_Title">
          <h3>Social media</h3>
        </div>
        <i class="fa-brands fa-youtube"></i>
        <label for="fa-brands fa-youtube">YouTube</label>

        <i class="fa-brands fa-discord"></i>
        <label for="fa-brands fa-discord">Discord</label>

        <i class="fa-brands fa-twitter"></i>
        <label for="fa-brands fa-twitter">Twitter</label>
      </div>

      <div class="div_SocialMedia_Column2">
        <i class="fa-brands fa-reddit"></i>
        <label for="fa-brands fa-reddit">Reddit</label>

        <i class="fa-brands fa-github"></i>
        <label for="fa-brands fa-github">GitHub</label>

        <i class="fa-brands fa-facebook"></i>
        <label for="fa-brands fa-facebook">FaceBook</label>

        <i class="fa-brands fa-tumblr"></i>
        <label for="fa-brands fa-tumblr">Tumblr</label>
      </div>
    </div>
    <div class="div_ContactUs">
      <h3>Contact us</h3>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <p>Email: pkg.thomsen@gmail.com</p>
      <i class="fa-brands fa-discord"></i>
      <p>Discord: Gilaric#7260</p>
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <p>Phone number: 42282670</p>
    </div>
    <div class="div_GitHubIssues">
      <a href="">Issues</a>
      <a href="">GitHub</a>
    </div>
  </div>
</footer>
