body {
  margin: 0;
}

p {
  margin: 0;
}

.Wrapper_Footer {
  height: 200px;
  background-color: red;
  width: 100%;
}

.div_IconAndTitle {
  width: 200px;
  height: 100%;
  display: flex;
}

.div_SocialMediaIcons {
  width: 500px;
  height: 200px;
  display: flex;
}
