<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="div_Wrapper_Topbar">
  <div class="div_Wrapper_TitleText">
    <img src="" alt="">
    <a class="a_indexLink" [routerLink]="['/']">
      <h1 class="h1_TitleText">EZCoaching</h1>
    </a>
  </div>

  <div class="div_Wrapper_Login_Button">
    <a href="#" class="nav">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </a>

    <div class="div_Login_Button">
      <button [routerLink]="['/login']" class="button_Login">Log in</button>
    </div>
  </div>
</div>
