<meta name="viewport" content="width=device-width, initial-scale=1" />
<p style="margin: 0px;">become-coach works!</p>
<div class="div_Wrapper_Form">
  <form class="form_Form1">
    <label for="games">Choose a game:</label>
    <select name="games" id="games">
      <optgroup label="Games">
        <option value="tf2">TF2</option>
        <option value="lol">League of Legends</option>
      </optgroup>
    </select>
    <div>
      <label class="label_DiscordUsername" for="DiscordUsername">
        Discord username: </label
      ><br />
      <input
        class="input_DiscordUsername"
        type="text"
        formControlName="DiscordUsername"
      />
    </div>

    <button class="Book" type="submit">Book session</button>
  </form>
</div>
