<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
  <p style="margin: 0px;">coaches works! EZ</p>
  <br />
  <a
    href="https://stackblitz.com/edit/angular-button-routerlink?file=src%2Fapp%2Fapp.module.ts,src%2Fapp%2Fapp-routing.module.ts"
    >Angular RouterLink Project</a
  >
  <br />
  <br />
  <a
    href="  https://www.floxblog.com/add-external-css-javascript-file-in-angular/"
    >Angular external CSS</a
  >
  <br />
  <br />
  https://www.floxblog.com/add-external-css-javascript-file-in-angular/
  <br />
  <br />
  https://bobbyhadz.com/blog/typescript-http-request
</body>
