<meta name="viewport" content="width=device-width, initial-scale=1" />
<p style="margin: 0px;">sign-up works!!!</p>
<div class="div_Wrapper_Form">
  <form class="form_Form1">
    <div>
      <label for="email"> E-mail </label><br />
      <input id="email" type="text" formControlName="email" />
    </div>

    <div>
      <label for="password"> Password </label><br />
      <input id="password" type="text" formControlName="password" />
    </div>

    <div>
      <label for="confirmpassword"> Confirm Password </label><br />
      <input id="confirmpassword" type="text" formControlName="confirmpassword" />
    </div>
    
    <button class="button" type="submit">Sign up</button>
  </form>
</div>
